# NetBeans specific #
nbproject/private/
nbproject/build-impl.xml
nbproject/genfiles.properties
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# IntelliJ specific #
.idea/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Private test-data
slack-1.json
summoners.txt
terminators.txt
